@section Styles{
    <style>
        .card-content{
            padding: 15px
        }
    </style>
}

@section Scripts{
    <script src="~/js/Common.js"></script>
    <script src="~/js/CreateCareer.js" ></script>
}

<h2>Create your career</h2>
<br/>
<div class="row">
    <div class="col-md-6">
        <div class="card" >
            <div class="card-header">
                Select your career
            </div>
            <div class="card-content">
                <select class="form-control" id="careerSelect">
                    <option selected value="-1">Random</option>
                    <option value="0">Engeneer</option>
                    <option value="1">Teacher</option>
                    <option value="2">Doctor</option>
                    <option value="3">Official</option>
                    <option value="4">Laborer</option>
                </select>
                <br/>
                <label><b>Description</b></label>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus porttitor turpis ac leo. In laoreet, magna id viverra tincidunt, sem odio bibendum justo, vel imperdiet sapien wisi sed libero. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Nulla quis diam. Curabitur bibendum justo non orci. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Proin in tellus sit amet nibh dignissim sagittis. Aliquam ante. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Integer in sapien. Aenean fermentum risus id tortor. Aliquam in lorem sit amet leo accumsan lacinia.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Game settings
            </div>
            <div class="card-content">
                <label>Virtual day duration</label>
                <div class="row">
                    <div class="col-md-6">
                        <select class="form-control" id="monthDurationSelect">
                            <option selected value="20">
                                Short duration
                            </option>
                            <option value="60">
                                Long duration
                            </option>
                            <option value="-1">
                                Custom
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-2">
                            <input type="number" class="form-control disabled" value="20" disabled id="monthDuration">
                            <div class="input-group-append">
                                <div class="input-group-text">min</div>
                            </div>
                            <span id="monthDurationError" class="invalid-feedback"></span>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-primary" id="CreateCareerConfirm" style="float: right">Create career</button>
    </div>
</div>