﻿@{
    ViewData["Title"] = "Home Page";
}


<h1>Testing page</h1>
<a href="/Student/">Log in as student</a><br/>
<a href="/Teacher/">Log in as Teacher</a><br/>
<a href="/Home/login">Go to log in page</a>