@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <style>
        label
        {
            padding-right: 10px;
        }
        input
        {
            margin-bottom: 10px;
        }
    </style>
}

@section Scripts{
    <script src="~/js/login.js" ></script>
}

@section NavBarTop{
<!-- Image and text -->
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="~/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
    Family budget simulator
  </a>
</nav>
<br/>
}

<div class="row">
    <div class="col-sm-8">
        <h2>Family budget simulator</h2>
        <p align="justify">
            Some long description: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas sollicitudin. Donec vitae arcu. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Nunc dapibus tortor vel mi dapibus sollicitudin. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Maecenas sollicitudin. Curabitur sagittis hendrerit ante. Donec vitae arcu. Integer in sapien. Duis viverra diam non justo.
        </p>
        <p align="justify">
            Cras elementum. Aliquam in lorem sit amet leo accumsan lacinia. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Fusce wisi. Maecenas aliquet accumsan leo. Phasellus faucibus molestie nisl. In enim a arcu imperdiet malesuada. Etiam neque. Suspendisse nisl. Duis ante orci, molestie vitae vehicula venenatis, tincidunt ac pede. Fusce suscipit libero eget elit. Nullam eget nisl. Aenean fermentum risus id tortor. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Praesent id justo in neque elementum ultrices. Curabitur sagittis hendrerit ante.
        </p>
    </div>
    <div class="col-sm-4">
        <div class="card" style="margin-right: 30px">
            <div class="card-header">Log in to continue</div>
            <!-- Nav tabs -->
            <div class="card-body">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#Login" role="tab" aria-controls="nav-home" aria-selected="true">Log in</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#Register" role="tab" aria-controls="nav-profile" aria-selected="false">Sign up</a>
                    </div>
                </nav>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="Login">
                        <br/>
                        <table>
                            <tr>
                                <td><label>User name</label></td><td><input type="text" id="LogInUserName" class="form-control" placeholder="User name"></td>
                            </tr>
                            <tr>
                                <td><label >Password</label></td><td><input type="password" id="LogInPwd" class="form-control" placeholder="Password"></td>
                            </tr>
                        </table>
                        <input type="checkbox" id="LogInRemember" checked/><label style="padding-left: 10px;">Remember me</label>
                        <br/>
                        <br/>
                        <div>
                            <button class="btn btn-success" id="btnLogIn">Login</button>
                            <a data-toggle="collapse" style="float:right" href="#forgotPassword" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Forgot name or password?
                            </a>
                            <div class="collapse" id="forgotPassword">
                                <br/>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="email-address">
                                        <div class="input-group-append">
                                        <button class="btn btn-success" type="button"><i class="fas fa-location-arrow"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Register">
                                                <br/>
                        <table>
                            <tr>
                                <td><label>User name</label></td>
                                <td>
                                    <input type="text" id="RegisterUserName" class="form-control" placeholder="User name">
                                    <span id="RegisterUserNameError" class="invalid-feedback"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><label>Email</label></td>
                                <td>
                                    <input type="text" id="RegisterEmail" class="form-control" placeholder="Email">
                                    <span id="RegisterEmailError" class="invalid-feedback"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><label >Password</label></td>
                                <td>
                                    <input type="password" id="RegisterPassword" class="form-control" placeholder="Password">
                                    <span id="RegisterPasswordError" class="invalid-feedback"></span>
                                    <div class="progress">
                                       <div class="progress-bar bg-success" id="StrengthMetter" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label>Repeat password</label></td>
                                <td>
                                    <input type="password" id="RegisterPasswordComfirm" class="form-control" placeholder="Password">
                                    <span id="RegisterPasswordComfirmError" class="invalid-feedback"></span>
                                </td>
                            </tr>
                        </table>
                        <br/>
                        <div>
                        <div>
                            <button id="SignUp" class="btn btn-success">
                                Sign up
                            </button>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("/Views/Home/Modals/_VerifyEmailModal.cshtml")