@section NavBarTop
{
    @Html.Partial("/Views/Teacher/_NavBarTop.cshtml")
}

@section Styles{
    <style>
        label
        {
            margin-right: 12px
        }
        td
        {
            padding: 5px
        }
        #avatar
        {
            border-radius: 50%;
            margin-right: auto;
            height: 200px;
            width: 200px;
            cursor: pointer
        }
        #avatar:hover
        {
            opacity: 0.3;
            content: "dsadasdsadsa"
        }
        .container {
    position: relative;
    width: 50%;
}


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 21px;

}
</style>
}

<h1><i class="fas fa-cog"></i> User Settings</h1>
<hr>
<br/>
<br/>
<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                Basic user information
            </div>
            <div class="car-content">
                <table style="margin: 20px">
                    <tr>
                        <td>
                            <label>User name: </label>
                        </td>
                        <td>
                            <input type="text" value="Pavel Novotný" class="form-control"/>
                        </td>
                        <td>
                            <input type="button" class="btn btn-primary" value="save"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Email: </label>
                        </td>
                        <td>
                            <input type="text" value="novotnyP@gmail.com" class="form-control"/>
                        </td>
                        <td>
                            <input type="button" class="btn btn-primary" value="save"/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <br/>
         <div class="card">
            <div class="card-header">
                Change password
            </div>
            <div class="car-content">
                <table style="margin: 20px">
                    <tr>
                        <td>
                            <label>Old password: </label>
                        </td>
                        <td>
                            <input type="password" class="form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>New password: </label>
                        </td>
                        <td>
                            <input type="password" class="form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Comfirm password: </label>
                        </td>
                        <td>
                            <input type="password" class="form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <button class="btn btn-primary" style="float:right">Save changes</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="card">
            <div class="card-header">
                Advanced user settings
            </div>
            <div class="car-content">
                <label style="margin-left: 30px; margin-top: 10px">Select profile avatar</label><br/>
                <div style="text-align:center;">
                    <a href="#"><i class="fas fa-angle-left"></i></a>
                    <span class="image-container">
                        <img src="~/images/user-avatar.png" id="avatar"/>
                        <span class="middle">
                            <span class="text">Save avatar</span>
                        </span>
                    </span>
                    <a href="#"><i class="fas fa-angle-right"></i></a>
                </div>
                <table style="margin: 20px">
                    <tr>
                        <td>
                            <label>Language: </label>
                        </td>
                        <td style="width: 70%">
                            <select class="form-control" >
                                <option selected>English</option>
                                <option>Česky</option>
                                <option>Deutsch</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-primary">Save</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Currency: </label>
                        </td>
                        <td>
                            <select class="form-control">
                                <option selected>Euro (€)</option>
                                <option>Dollar ($)</option>
                                <option>Koruna česká (Kč)</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-primary">Save</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Theme: </label>
                        </td>
                        <td>
                            <select class="form-control">
                                <option selected>Default</option>
                                <option>Dark</option>
                                <option>Light</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-primary">Save</button>
                        </td>
                    </tr>                    
                </table>
                <input type="checkbox" checked style="margin-left: 30px; margin-right: 5px" class="chckbox"><label>Send notifications</label>
                <br/>
                <input type="button" class="btn btn-danger" style="margin: 30px; margin-right: 0px" value="Delete profile" />
                <input type="button" class="btn btn-primary" style="margin: 30px; margin-left:5px; margin-right: 0px" value="Suicide" />
                <input type="button" class="btn btn-warning" style="margin: 30px; margin-left: 5px" value="Log out"/>
            </div>
        </div>
        <br/>
    </div>
</div>
