﻿@using FamilyBudgetSimulator.Controllers;
@{
    var alerts = TempData.ContainsKey(Alert.TempDataKey) ? (List<Alert>)TempData.Get<List<Alert>>(Alert.TempDataKey) : new List<Alert>();
    
    for(int i = 0; i < alerts.Count; i++)
    {
        var alert = alerts[i];
        var dismissableClass = alert.Dismissable ? "alert-dismissable" : null;
        <div class="img-rounded lead col-xs-12 col-md-8 alert alert-@alert.AlertStyle @dismissableClass" style="left: 34%; top: @(60 * (i + 1 ))px; width:554px; position: fixed; z-index: 999">
            @if(alert.Dismissable)
            {
                <button type ="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>;
            }
            @Html.Raw(alert.Message)
        </div>
    }
}

<!--alert-autohiding-->
<script>
    setTimeout(function () { $(".alert").alert("close");},3500)
</script>