﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>@ViewData["Title"] - FamilyBudgetSimulator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />   
    <link rel="stylesheet" herf="~/lib/DataTables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/bootstrapToggle/css/bootstrap-toggle.min.css">
    <link rel="stylesheet" href="~/lib/bsadmin/css/bs-admin.css"/>
    @RenderSection("Styles", required: false)
</head>
<body>    
@RenderSection("NavBarTop", required: false)
@if (!IsSectionDefined("NavBarTop"))
{
    @Html.Partial("_NavBarTop_default")
}

<div class="d-flex align-items-stretch">
@RenderSection("NavBarLeft", required: false)
    <div class="container-fluid content p-4">
        @Html.Partial("_Alerts")
        @RenderBody()
    </div>
    </div>
@RenderSection("Footer", required: false)
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/popper/popper.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/bsadmin/js/bs-admin.js"></script>
    <script src="~/lib/fontawesome/svg-with-js/js/fontawesome-all.js"></script>
    <script src="~/lib/DataTables/js/jquery.dataTables.js"></script>
    <script src="~/lib/DataTables/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/bootstrapToggle/js/bootstrap-toggle.min.js"></script>
    <script src="~/js/Common.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
