<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="~/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
    Family budget simulator
  </a>
</nav>