@section NavBarTop
{
    @Html.Partial("/Views/Teacher/_NavBarTop.cshtml")
}
@section NavBarLeft
{
    @Html.Partial("/Views/Teacher/_NavBarLeft.cshtml")
}
@section Scripts
{
    <script src="~/lib/plotly/plotly.min.js"></script>
    <script src="~/js/Teacher/Overview/ClassOverview.js" ></script>
}


<h1><i class="fas fa-chart-line"></i> Overview</h1>
<hr/>
<br/>
<H3>Class overview</H3>
<br/>
<br/>

<div class="row justify-content-md-center">
    <div class="col-sm-11">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#Money" role="tab" aria-controls="nav-home" aria-selected="true">Money</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#Property" role="tab" aria-controls="nav-profile" aria-selected="false">Property</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#Happiness" role="tab" aria-controls="nav-profile" aria-selected="false">Happiness</a>
            </div>
        </nav>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Money">
                <div id="money-graph"></div>                
            </div>
            <div role="tabpanel" class="tab-pane" id="Property">
                <div id="property-graph"></div>                
            </div>
            <div role="tabpanel" class="tab-pane" id="Happiness">
                <div id="happiness-graph"></div>                
            </div>
        </div>    
    </div>
</div>