<div class="modal fade" id="FinishRegistrationModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="FinishRegistrationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="FinishRegistrationModalLabel">Finish Registration</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">
                        <label>
                            User Name:
                        </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="FinishRegistrationUserName" class="form-control" disabled>
                    </div> 
                    <div class="col-md-1">
                        <label>
                            Email:
                        </label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" id="FinishRegistrationEmail" class="form-control" disabled>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>
                            Email code:
                        </label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" id="EmailComfrimationToken" id="RegistrationMailComfrimation" class="form-control" placeholder="Comfrimation code sanded via email">
                    </div>
                </div>
                <hr/>
                <h5>Select account type</h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card border-primary selected" id="FreeAcount"  style="cursor: pointer">
                            <div class="card-header bg-primary"  id="FreeAcountHeader" style="text-align: center; padding-top: 5px; padding-bottom: 5px">
                                <span style="color: white; font-size: 12pt"><b>Free</b></span><span  id="FreeAcountCheck" style="float:right; color: white" class="fas fa-check"></span>
                            </div>
                            <div class="card-content">
                                <div style="text-align: center; padding-top: 10px; padding-bottom:10px">
                                    <h1 style="color:blue">0 €</h1>
                                </div>
                                 <table class="table table-striped">
                                    <tr>
                                         <td>Advantege 1</td>
                                    </tr>
                                    <tr>
                                         <td>Advantege 1</td>
                                    </tr>
                                    <tr>
                                         <td>Advantege 1</td>
                                    </tr>
                                    <tr>
                                         <td>Advantege 1</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card border-primary" id="PremiumAccount" style="cursor: pointer">
                            <div class="card-header bg-info" id="PremiumAccountHeader" style="text-align: center; padding-top: 5px; padding-bottom: 5px">
                                <span style="color: white; font-size: 12pt"><b>Premium</b></span><span style="float:right; color: white"  id="PremiumAccountCheck" hidden class="fas fa-check"></span>
                            </div>
                            <div class="card-content">
                                <div style="text-align: center; padding-top: 10px; padding-bottom:10px">
                                    <h1 style="color:blue">5 €</h1>
                                </div>
                                <table class="table table-striped">
                                    <tr>
                                         <td>Advantege 1</td>
                                    </tr>
                                    <tr>
                                         <td>Advantege 1</td>
                                    </tr>
                                    <tr>
                                         <td>Advantege 1</td>
                                    </tr>
                                    <tr>
                                         <td>Advantege 1</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="FinishRegistration" class="btn btn-primary">Finish Registration</button>
            </div>
        </div>
    </div>
</div>