<div class="modal fade" id="FondsInvestModal" tabindex="-1" role="dialog" aria-labelledby="FondsInvestModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="FondsInvestModalLabel">Invest into fonds</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <label>Select fond type</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" id="fondCreateTypeSelect">
                            <option value="0" selected>Bond fond</option>
                            <option value="1">Shares fond</option>
                            <option value="2">Mixed fond</option>
                            <option value="3" disabled>Realty fond</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Money to invest</label>
                    </div>
                    <div class="col-md-9">
                        <input type="number" class="form-control" id="FondCreateMoney" placeholder="Ammount of invested money"/>
                        <span id="FondCreateMoneyError" class="invalid-feedback"></span>
                    </div>
                </div>
                <hr/>
                <br/>
                <label><strong>Monthly Interest</strong></label>
                <div class="row">
                    <div class="col-md-2">
                        <label>From</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="fondCreateDescInterestFrom" class="form-control" value="-0.7 %" disabled>
                    </div>
                    <div class="col-md-2">
                        <label>To</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="fondCreateDescInterestTo" class="form-control" value="5 %" disabled>
                    </div>
                </div>
                <br/>
                <label><strong>Probability monthly Interest</strong></label>
                <div id="createFondInterestProbability">                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnCreateInvestitionFond">Invest</button>
            </div>
        </div>
    </div>
</div>