<div class="modal fade" id="HolidayOverviewModal" tabindex="-1" role="dialog" aria-labelledby="HolidayOverviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="HolidayOverviewModalLabel">Holiday overview</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">Name </div>
                    <div class="col-md-4">
                        <input type="text" value="Holiday in Greece" disabled class="form-control">
                    </div>
                    <div class="col-md-2">Travel agency </div>
                    <div class="col-md-4">
                        <input type="text" value="Fischer" disabled class="form-control">
                    </div>
                    <div class="col-md-2">From </div>
                    <div class="col-md-4">
                        <input type="text" value="22-08-2018" disabled class="form-control">
                    </div>
                    <div class="col-md-2">To </div>
                    <div class="col-md-4">
                        <input type="text" value="30-08-2018" disabled class="form-control">
                    </div>
                    <div class="col-md-2">Price </div>
                    <div class="col-md-4">
                        <input type="text" value="€ 500" disabled class="form-control">
                    </div>
                    <div class="col-md-2">Paied </div>
                    <div class="col-md-4">
                        <input type="text" value="No" disabled class="form-control">
                    </div>
                    <div class="col-md-12" style="margin-top: 25px">
                        <h4>Payment information </h4>
                    </div>
                    <div class="col-md-4">Agency account number</div>
                    <div class="col-md-8">
                        <input type="text" value="201-12031332/0100" disabled class="form-control">
                    </div>
                    <div class="col-md-4">Variable symbol</div>
                    <div class="col-md-8">
                        <input type="text" value="143" disabled class="form-control">
                    </div>
                    <div class="col-md-4">Message</div>
                    <div class="col-md-8">
                        <input type="text" value="GREECE-NOVOTNYPAVEL" disabled class="form-control">
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Cancel Holiday</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>