<div class="modal fade" id="holidayModal" tabindex="-1" role="dialog" aria-labelledby="holidayModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="holidayModalLabel">Ask for holiday</h5>
      </div>        
      <div class="modal-body">
          <label>Happiness:</label>
          <p style="font-size: 26pt; text-align: center">+ 38 %</p>
          <label>Duration</label>
          <p style="font-size: 21pt; text-align: center"><i class="fas fa-angle-left" style="cursor: pointer"></i>&nbsp;&nbsp;&nbsp;&nbsp; 2 days &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-angle-right"  style="cursor: pointer"></i></a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>