<div class="modal fade" id="HolidayCreateModal" tabindex="-1" role="dialog" aria-labelledby="HolidayCreateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="HolidayCreateModalLabel">Book holiday</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">
                        <label>From </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="dateFrom" value="20-08-2016" class="form-control" onkeydown="return false" data-toggle="datetimepicker" data-target="#dateFrom"/>
                    </div>
                    <div class="col-md-2">
                        <label>To </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="dateTo" value="30-08-2016"  class="form-control" onkeydown="return false" data-toggle="datetimepicker" data-target="#dateTo"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Travel agency </label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" style="width: 100%">
                            <option "all" selected>All</option>
                            <option>CK 1</option>
                            <option>CK 2</option>
                            <option>CK 3</option>
                            <option>CK 4</option>
                            <option>CK 5</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>Destination </label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" style="width: 100%">
                            <option "all" selected>All</option>
                            <option>Dest 1</option>
                            <option>Dest 2</option>
                            <option>Dest 3</option>
                            <option>Dest 4</option>
                            <option>Dest 5</option>                        
                        </select>
                    </div>                    
                </div>
                <hr>
                <table style="width: 100%" class="table table-hover" id="BookHolidayTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Happiness</th>
                            <th>Holidays cost</th>
                            <th>Destination</th>
                            <th>Travel agency</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="selectable">
                            <td>Holiday in Greece</td>
                            <td>€ 500</td>
                            <td>172</td>
                            <td>7</td>  
                            <td>Greece</td>      
                            <td>Fisher</td>
                        </tr>
                        <tr class="selectable">
                            <td>Holiday in Greece</td>
                            <td>€ 500</td>
                            <td>172</td>
                            <td>7</td>  
                            <td>Greece</td>      
                            <td>Fisher</td>
                        </tr>
                        <tr class="selectable">
                            <td>Holiday in Greece</td>
                            <td>€ 500</td>
                            <td>172</td>
                            <td>7</td>  
                            <td>Greece</td>      
                            <td>Fisher</td>
                        </tr>
                        <tr class="selectable">
                            <td>Holiday in Greece</td>
                            <td>€ 500</td>
                            <td>172</td>
                            <td>7</td>  
                            <td>Greece</td>      
                            <td>Fisher</td>
                        </tr>
                        <tr class="selectable">
                            <td>Holiday in Greece</td>
                            <td>€ 500</td>
                            <td>172</td>
                            <td>7</td>  
                            <td>Greece</td>      
                            <td>Fisher</td>
                        </tr>
                        <tr class="selectable">
                            <td>Holiday in Greece</td>
                            <td>€ 500</td>
                            <td>172</td>
                            <td>7</td>  
                            <td>Greece</td>      
                            <td>Fisher</td>
                        </tr>
                        <tr class="selectable">
                            <td>Holiday in Greece</td>
                            <td>€ 500</td>
                            <td>172</td>
                            <td>7</td>  
                            <td>Greece</td>      
                            <td>Fisher</td>
                        </tr>
                        <tr class="selectable">
                            <td>Holiday in Greece</td>
                            <td>€ 500</td>
                            <td>172</td>
                            <td>7</td>  
                            <td>Greece</td>      
                            <td>Fisher</td>
                        </tr>
                        <tr class="selectable">
                            <td>Holiday in Greece</td>
                            <td>€ 500</td>
                            <td>172</td>
                            <td>7</td>  
                            <td>Greece</td>      
                            <td>Fisher</td>
                        </tr>
                        <tr class="selectable">
                            <td>Holiday in Greece</td>
                            <td>€ 500</td>
                            <td>172</td>
                            <td>7</td>  
                            <td>Greece</td>      
                            <td>Fisher</td>
                        </tr>
                        <tr class="selectable">
                            <td>Holiday in Greece</td>
                            <td>€ 500</td>
                            <td>172</td>
                            <td>7</td>  
                            <td>Greece</td>      
                            <td>Fisher</td>
                        </tr>
                        <tr class="selectable">
                            <td>Holiday in Greece</td>
                            <td>€ 500</td>
                            <td>172</td>
                            <td>7</td>  
                            <td>Greece</td>      
                            <td>Fisher</td>
                        </tr>
                        <tr class="selectable">
                            <td>Holiday in Greece</td>
                            <td>€ 500</td>
                            <td>172</td>
                            <td>7</td>  
                            <td>Greece</td>      
                            <td>Fisher</td>
                        </tr>
                        <tr class="selectable">
                            <td>Holiday in Greece</td>
                            <td>€ 500</td>
                            <td>172</td>
                            <td>7</td>  
                            <td>Greece</td>      
                            <td>Fisher</td>
                        </tr>
                        <tr class="selectable">
                            <td>Holiday in Greece</td>
                            <td>€ 500</td>
                            <td>172</td>
                            <td>7</td>  
                            <td>Greece</td>      
                            <td>Fisher</td>
                        </tr>
                        <tr class="selectable">
                            <td>Holiday in Greece</td>
                            <td>€ 500</td>
                            <td>172</td>
                            <td>7</td>  
                            <td>Greece</td>      
                            <td>Fisher</td>
                        </tr>
                        <tr class="selectable">
                            <td>Holiday in Greece</td>
                            <td>€ 500</td>
                            <td>172</td>
                            <td>7</td>  
                            <td>Greece</td>      
                            <td>Fisher</td>
                        </tr>
                        <tr class="selectable">
                            <td>Holiday in Greece</td>
                            <td>€ 500</td>
                            <td>172</td>
                            <td>7</td>  
                            <td>Greece</td>      
                            <td>Fisher</td>
                        </tr>
                        <tr class="selectable">
                            <td>Holiday in Greece</td>
                            <td>€ 500</td>
                            <td>172</td>
                            <td>7</td>  
                            <td>Greece</td>      
                            <td>Fisher</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
            <div style="width: 100%">
                <input type="checkbox" id="toggleone" data-width="120"  data-toggle="toggle" data-on="Alone" data-off="With family" data-onstyle="success" data-offstyle="warning">
                <button type="button" style="float: right; margin-left: 10px" class="btn btn-primary">Yes</button>
                <button type="button" style="float: right" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
            </div>
        </div>
    </div>
</div>