<div class="modal fade" id="InsuranceModal" tabindex="-1" role="dialog" aria-labelledby="InsuranceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="InsuranceModalLabel">Car insurance</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        Insurance hight
                    </div>
                    <div class="col-md-8">
                        <input type="text" style="width: 100%" class="slider" data-slider-max="100" data-slider-step="1" data-slider-value="70" data-slider-tooltip="show">
                    </div>
                    <div class="col-md-1">
                        <small id="InsuranceHightVal">70 %</small>
                    </div>
                    <br>
                </div>
                <br>                
                <div class="row">
                    <div class="col-md-6">
                        <label>Select ivents that you want to insure:</label>
                        <ul style="list-style-type:none">
                            <li>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Natural disasters</label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">Animals</label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                    <label class="custom-control-label" for="customCheck3">Crash</label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                                    <label class="custom-control-label" for="customCheck5">Stealing</label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck6">
                                    <label class="custom-control-label" for="customCheck6">Vandalism</label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck7">
                                    <label class="custom-control-label" for="customCheck7">Some another issue</label>
                                </div>
                            </li>
                        </ul>  
                    </div>
                    <div class="col-md-6">
                        <p style="font-size: 40pt; margin-top: 10%">€ 320/month</p>
                    </div>
                </div>                  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Insure</button>
            </div>
        </div>
    </div>
</div>