<div class="modal fade" id="InvalidityInsuranceModal" tabindex="-1" role="dialog" aria-labelledby="InvalidityInsuranceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="InvalidityInsuranceModalLabel">Life insurance</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">
                        Sum Insured
                    </div>
                    <div class="col-md-8">
                        <input type="range" style="width: 100%" id="invalidityInsuranceSumSlider" class="slider" data-slider-max="150000" data-slider-min="10000" data-slider-step="1000" data-slider-value="0" data-slider-tooltip="show">
                    </div>
                    <div class="col-md-2">
                        <small id="invalidityInsurancSum">€ 10 000</small>
                    </div>
                </div>
                <br>
                Select your insurance type:
                <br>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="custom-controls-stacked">
                            <div class="custom-control custom-radio">
                                <input type="radio" name="radio-stacked" class="custom-control-input invalidityInsuranceDegreeSelect" id="InvalidityInsuranceFirstDegree">
                                <span class="custom-control-indicator"></span>
                                <label class="custom-control-label" for="InvalidityInsuranceFirstDegree">All injuries</span>
                            </div>                            
                            <br>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="radio-stacked" class="custom-control-input invalidityInsuranceDegreeSelect" id="InvalidityInsuranceSecondDegree">
                                <span class="custom-control-indicator"></span>
                                <label class="custom-control-label" for="InvalidityInsuranceSecondDegree">The most serious and moderates injuries</label>
                            </div>
                            <br>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="radio-stacked" class="custom-control-input invalidityInsuranceDegreeSelect" id="InvalidityInsuranceThirdDegree">
                                <span class="custom-control-indicator"></span>
                                <label class="custom-control-label" for="InvalidityInsuranceThirdDegree">The most serious injuries</label>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-md-6" style="text-align:center">
                        <span style="font-size: 40pt; margin-top: 10%" id="InvalidityInsuranceMonthlyFee"></span>
                    </div>
                </div>      
                <br>
                <hr>
                <label>
                    <b>Monthly fee calcurlator</b>
                </label>
                <label>
                    Monthly fee of this insurance depends on your age and high of motorgage, so it's high would change in time.
                </label>
                <br/>                
                <div class="row">
                    <div class="col-md-2">
                        Age
                    </div>
                    <div class="col-md-8">
                        <input type="text" style="width: 100%" id="invalidityInsuranceCalcAgeSlider" class="slider" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-tooltip="show">
                    </div>
                    <div class="col-md-2">
                        <small id="invalidityInsuranceCalcAge">0 years</small>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12" id="invalidityInsuranceCalcFee" style="text-align:right; padding-right: 20px">
                        Monthly fee: -
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="createInvalidityInsurance">Insure</button>
            </div>
        </div>
    </div>
</div>