<div class="modal fade" id="LifeInsuranceModal" tabindex="-1" role="dialog" aria-labelledby="LifeInsuranceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="LifeInsuranceModalLabel">Life insurance</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                     <div class="col-md-2">
                        Sum insured
                    </div>
                    <div class="col-md-8">
                        <input type="text" style="width: 100%" id="lifeInsuranceMoneySlider" class="slider" data-slider-max="200000" data-slider-min="1000" data-slider-step="1000" data-slider-value="0" data-slider-tooltip="show">
                    </div>
                    <div class="col-md-2">
                        <small id="lifeInsuranceMoney">€ 1000</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p style="font-size: 40pt; text-align:center" id="lifeInsuranceMonthlyFee"></p>
                    </div>
                </div>
                <hr>
                <label>
                    <b>Monthly fee calcurlator</b>
                </label>
                <label>
                    Monthly fee of this insurance depends on your age, so it's high would change in time.
                </label>
                <br/>                
                <div class="row">
                    <div class="col-md-2">
                        Age
                    </div>
                    <div class="col-md-8">
                        <input type="text" style="width: 100%" id="lifeInsuranceCalcAgeSlider" class="slider" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-tooltip="show">
                    </div>
                    <div class="col-md-2">
                        <small id="lifeInsuranceCalcAge">0 years</small>
                    </div>
                </div>     
                <br>
                <div class="row">
                    <div class="col-md-2">
                        Motorgage
                    </div>
                    <div class="col-md-5">
                        <input type="number" id="lifeInsuranceCalcMortgage" class="form-control"> 
                    </div>
                    <div class="col-md-5" id="lifeInsuranceCalcResult" style="text-align:center">
                        Monthly fee: -
                    </div>
                </div>                  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="createLifeInsurance">Insure</button>
            </div>
        </div>
    </div>
</div>