<div class="modal fade" id="LoanModal" tabindex="-1" role="dialog" aria-labelledby="LoanModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="LoanModalLabel">Ask for Loan</h5>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td>
                            <label>
                                Ammount
                            </label>
                        </td>
                        <td style="padding: 10px">
                            <input type="number" class="form-control" placeholder="Ammount" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>
                                Monthly installment
                            </label>
                        </td>
                        <td style="padding: 10px">
                            <input type="number" class="form-control" placeholder="Monthly installment" />
                        </td>
                    </tr>
                </table>
                <br/>
                <label>Interest: 10 % (€ 800)</label><br/>
                <label>Total installment: € 8 800</label><br/>
                <label>Number of installments: 11</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Ask</button>
    		</div>
        </div>
    </div>
</div>