<div class="modal fade" id="promotionModal" tabindex="-1" role="dialog" aria-labelledby="promotionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="promotionModalLabel">Ask for promotion</h5>
      </div>        
      <div class="modal-body">
        <label>Promotion: Team leader -> Department manager</label><br/>
        <label>Success probbability: 13 %</label><br/>
        <br/>
        <div class="row">
            <div class="col-md-5">
                <label>Benefits: </label>
                <ul>
                    <li>Get araise: + 3 €/h</li>
                    <li>Happines: + 2 %</li>
                    <li>Hollidays: + 1</li>
                </ul>
            </div>
            <div class="col-md-7">
                <label>Danger in case of unsuccess: </label>
                <ul>
                    <li>Salary deduction: - 2 €/h (76 %)</li>
                    <li>Promotion success probbability: - 9 %</li>
                    <li>Decrease probability: 58 %</li>
                    <li>Probability of getting fired: 18 %</li>
                </ul>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>