<div class="modal fade" id="SavingAccountModal" tabindex="-1" role="dialog" aria-labelledby="SavingAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SavingAccountModalLabel">Create savings account</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <label>Select Account type</label>
                    </div>
                    <div class="col-md-9">
                        <select id="SavingsCreateTypeSelect" class="form-control">
                            <option value="0" selected>Building savings</option>
                            <option value="1">Retirement saving</option>
                            <option value="2">Some another saving</option>
                            <option value="3">One more saving</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Monthly fee</label>
                    </div>
                    <div class="col-md-9">
                        <input type="number" id="SavingsCreateMonthlyFee" class="form-control" placeholder="High of monthly fee"/>
                        <span id="SavingsCreateMonthlyFeeError" class="invalid-feedback"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Fixation duration</label>
                    </div>
                    <div class="col-md-9">
                        <input type="number" id="SavingsCreateTypeDuration" class="form-control" placeholder="Duration of money fixation (months)"/>
                        <span id="SavingsCreateTypeDurationError" class="invalid-feedback"></span>
                    </div>
                </div>
                <hr/>
                <label><strong>Account description</strong></label>
                <div class="row">
                    <div class="col-md-2">
                        <label>Min. duration</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="savingsCreateDescMinDuration" class="form-control" value="24 months" disabled>
                    </div>
                    <div class="col-md-2">
                        <label>Max. duration</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="savingsCreateDescMaxDuration" class="form-control" value="120 months" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Interest</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="savingsCreateDescInterest" class="form-control" value="1.2 - 1.7 %" disabled>
                    </div>
                    <div class="col-md-2">
                        <label>Subsidy</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="savingsCreateDescSubsidy" class="form-control" value="€ 100 / year" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Minimal fee</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="savingsCreateDescMinFee" class="form-control" value="€ 200" disabled>
                    </div>
                     <div class="col-md-2">
                        <label>Maximal fee</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="savingsCreateDescMaxFee" class="form-control" value="€ 200" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Withdrawal fee</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="savingsCreateDescWithdrawFee" class="form-control" value="€ 2000" disabled>
                    </div>
                </div>
                <br/>
                <label><strong>Your account</strong></label>
                <div class="row">
                    <div class="col-md-2">
                        <label>Monthly fee</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="savingsCreateActDescFee" class="form-control" disabled>
                    </div>
                    <div class="col-md-2">
                        <label>Duration</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="savingsCreateActDescDuration" class="form-control" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Interest</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="savingsCreateActDescInterest" class="form-control" disabled>
                    </div>
                    <div class="col-md-2">
                        <label>Subsidy</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="savingsCreateActDescSubsidy" class="form-control" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Due date</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="savingsCreateActDescDueDate" class="form-control" disabled>
                    </div>
                    <div class="col-md-2">
                        <label>Withdrawal fee</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="savingsCreateActDescWithdrawalFee" class="form-control" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Invested money</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="savingsCreateActDesInvested" class="form-control" disabled>
                    </div>
                    <div class="col-md-2">
                        <label>Total income</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="savingsCreateActDescIncome" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="btnCreateSavingsAccount" class="btn btn-primary">Create account</button>
            </div>
        </div>
    </div>
</div>