<div class="modal fade" id="SellCarModal" tabindex="-1" role="dialog" aria-labelledby="SellCarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SellCarModalLabel">Do you really want to sell your car</h5>
            </div>
            <div class="modal-body">
                Value: € 2000<br>
                Happiness Increase without car: -100/month
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>