<div class="modal fade" id="SharesInvestModal" tabindex="-1" role="dialog" aria-labelledby="SharesInvestModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SharesInvestModalLabel">Invest into shares</h5>
            </div>
            <div class="modal-body" style="text-align: center">
                <h1>COMMING SOON</h1> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Invest</button>
            </div>
        </div>
    </div>
</div>