<div class="modal fade" id="WithdrawSavingAccountModal" tabindex="-1" role="dialog" aria-labelledby="WithdrawSavingAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="WithdrawSavingAccountModalLabel">Withdraw savings account</h5>
            </div>
            <div class="modal-body">
                Do you really want to withdraw your savings account? You will get back money that you have invested here but you will lose all subsidy and interest and you will have to pay withdrawal fee in th amount of:
                <p style="font-size: 28pt; text-align: center" id="WithdrawSavingsAccountFee"><p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" id="btnWithdrawSavingsAccountConfirmation" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>