<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-primary">
    <a class="navbar-brand" href="/Teacher/Index">
        <img src="~/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
        Family budget simulator
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="navbar_top_overview" href="/Teacher/Overview"><i class="fas fa-chart-line"></i> Class overview</a>
            </li>           
            <li class="nav-item">
                <a class="nav-link" id="navbar_top_administration" href="/Teacher/Administration"><i class="fas fa-cogs"></i> Class administration</a>
            </li>
        </ul>
        <span class="navbar-text" style="padding-right: 0px">
            Role: Teacher
        </span>
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-lg fa-user" style="color:white"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" style="right: 0; left: auto;" aria-labelledby="navbarDropdownMenuLink">
                <li class="dropdown-header">Name: Pavel Novotný</li>
                <li class="dropdown-header">Email: NovotnyP@@gmail.com</li>
                <li class="dropdown-header">Role: Teacher</li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"><a href="/Home/UserSettings"><i class="fas fa-cog"></i> User settings</a></li>
                <li class="dropdown-item"><a href="/"><i class="fas fa-sign-out-alt"></i> Log out</a></li>
            </ul>
        </div>
    </div>
</nav>