 <div class="sidebar bg-light" >
        <ul class="list-unstyled">
            <li>
                <a style="color: #1178ff" href="#submenu1" data-toggle="collapse"><i class="fas fa-users"></i> Oktava A</a>
                <ul id="submenu1" class="list-unstyled collapse">
                    <li><a style="color: #1178ff" href="#">Septima B</a></li>
                    <li><a style="color: #1178ff" href="#">Oktava A</a></li>
                    <li><a style="color: #1178ff" href="#">Oktava B</a></li>
                </ul>
            </li>
            <li><a style="color: #1178ff" href="#"><i class="fas fa-chart-line"></i> Basic class overview</a></li>
            <li><a style="color: #1178ff" href="#"><i class="fas fa-user"></i> Basic pair overview</a></li>
            <li><a style="color: #1178ff" href="#"><i class="fab fa-searchengin"></i> Detail pair overview</a></li>
            <li><a style="color: #1178ff" href="#"><i class="fas fa-history"></i> History</a></li>
        </ul>
    </div>