@section NavBarTop
{
    @Html.Partial("/Views/Teacher/_NavBarTop.cshtml")
}
@section NavBarLeft
{
    @Html.Partial("/Views/Teacher/_NavBarLeft.cshtml")
}
@section Scripts
{
    <script src="~/js/Teacher/Administration.js" ></script>
}

<h1><i class="fas fa-cogs"></i> Administration</h1>
<hr/>