<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-primary">
    <a class="navbar-brand" href="/Game/Index">
        <img src="~/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
        Family budget simulator
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="navbar_top_life" href="/Game/Life"><i class="fas fa-chart-line"></i> Life & property</a>
            </li>           
            <li class="nav-item">
                <a class="nav-link" id="navbar_top_family" href="/Game/Family"><i class="fas fa-users"></i> Family</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="navbar_top_job" href="/Game/Job"><i class="fas fa-industry"></i> Job</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="navbar_top_banking" href="/Game/Banking"><i class="fas fa-euro-sign"></i> Finance services</a>
            </li>

        </ul>
        <span class="navbar-text" id="virtualDate" style="padding-right: 10px">
            @TempData["VirtualDate"]
        </span>         
        <span class="navbar-text" style="padding-right: 0px">
            Career: @TempData["UserCareer"]
        </span>
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-lg fa-user" style="color:white"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" style="right: 0; left: auto;" aria-labelledby="navbarDropdownMenuLink">
                <li class="dropdown-header">Name: @TempData["UserName"]</li>
                <li class="dropdown-header">Email: @TempData["UserEmail"]</li>
                <li class="dropdown-header">Role: @TempData["UserRole"]</li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"><a href="/Home/UserSettings"><i class="fas fa-cog"></i> User settings</a></li>
                <li class="dropdown-item"><a onclick="post('/Home/LogOut')" href="#"><i class="fas fa-sign-out-alt"></i> Log out</a></li>
            </ul>
        </div>
    </div>
</nav>