@model FamilyBudgetSimulator.Models.FamilyModel

@section NavBarTop{
    @Html.Partial("/Views/Game/_NavBarTop.cshtml")
}

@section Scripts{
    <script src="~/lib/datepicker/js/datepicker.min.js"></script>
    <script src="~/js/Game/Family.js"></script>
}

@section Styles{
    <link rel="stylesheet" href="~/lib/datepicker/css/datepicker.css" />
    <style>
        .card-content{
            padding: 15px
        }
        .modal-body > .row > .col-md-2,
        .modal-body > .row > .col-md-4,
        .modal-body > .row > .col-md-8
        {
            margin-top: 10px !important
        }
    </style>
}

<h1><i class="fas fa-users"></i> Family</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Household expenditure
            </div>
            <div class="card-content">
                <label>Actual household expenditure:</label>
                <p style="font-size: 22pt; text-align: center">€ @Model.HouseholdExpenditure/week</p>
                <label>Happiness:</label>
                <p style="font-size: 22pt; text-align: center">0</p>
                <div class="form-inline">
                    <input type="number" id="HouseholdExpenditureValue" style="width: 70%; margin-right: 10px"  class="form-control" placeholder="new expenditure">
                    <span id="HouseholdExpenditureValueError" class="invalid-feedback"></span>
                    <input type="button" id="HouseholdExpenditureChange" style="width: 20%" class="btn btn-primary" value="Change">
                </div>
                <small>next payment: @Model.NextHouseholdExpenditurePayment.ToString("dd-MM-yyyy")</small>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="card">
            <div class="card-header">
                Holiday planing
            </div>
            <div class="card-content">
                <!-- <label>Upcomming holidays</label> -->
                <table class="table table-hover" style="cursor: pointer">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                From
                            </th>
                            <th>
                                To
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Paied
                            </th>
                            <th>
                                Happyness increase
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                       <tr class="holidayRow">
                            <td>Holliday in Greece</td>
                            <td>22-08-2018</td>
                            <td>30-08-2018</td>
                            <td>€ 500</td>
                            <td style="color:red">No</td>
                            <td>172</td>
                            <td><i class="fas fa-info-circle"></i></td>
                       </tr>
                    </tbody>
                </table>
                <br>
                <input type="button" style="float: right" class="btn btn-primary" value="Book holiday" data-toggle="modal" data-target="#HolidayCreateModal">
            </div>
        </div>
    </div>
</div>

<!-- MODALS -->
@Html.Partial("/Views/Game/Modals/_HolidayOverviewModal.cshtml")
@Html.Partial("/Views/Game/Modals/_HolidayCreateModal.cshtml")