@section NavBarTop{
    @Html.Partial("/Views/Game/_NavBarTop.cshtml")
}

@section Styles{
    <style>
        .card{
            margin-bottom: 20px
        }
        .carousel-indicators-numbers > li {  
            cursor: pointer;                           
            margin: 0 2px;
            width: 15px;
            height: 15px;
            border: none;
            border-radius: 100%;
            line-height: 30px;
            color: #fff;
            background-color: #999;
            transition: all 0.25s ease;                       
        }
        .carousel-indicators-numbers > li.active, .carousel-indicators-numbers > li:hover
        {
            cursor: pointer;
            margin: 0 2px;
            width: 15px;
            height: 15px;
            background-color: #337ab7;        
        }     
    </style>
}

@section Scripts{
    <script src="~/lib/plotly/plotly.min.js"></script>
    <script src="~/js/Game/Dashboard.js"></script>
}

<h1><i class="fas fa-tachometer-alt"></i> Dashboard</h1>
<hr/>

<!--First buttonst row-->
<div class="row">
    <div class="col-md-6 col-lg-3">
        <a href="/Game/Life" style="text-decoration: none; color: white">
            <div class="card">
                <div class="card-header bg-success" style="padding-right: 0">      
                    <div class="row" style="width:100%; padding-left:0; padding-right:0">
                        <div class="col-md-4">
                            <h1 class="display-4"><i class="far fa-smile"></i></h1>
                        </div>
                        <div class="col-md-8" style="text-align:right">
                            <h1>231</h1>
                            Actual happiness
                        </div>
                    </div>
                </div>
                <div class="card-footer" style="text-align: right">
                    <span style="color: blue">View details</span> 
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-lg-3">
        <a href="/Game/Banking" style="text-decoration: none; color: white">
            <div class="card">
                <div class="card-header bg-danger" style="padding-right: 0">      
                    <div class="row" style="width:100%">
                        <div class="col-md-4">
                            <h1 class="display-4"><i class="fas fa-money-bill-alt"></i></h1>
                        </div>
                        <div class="col-md-8" style="text-align:right; padding-left:0; padding-right:0">
                            <h1>€&nbsp;2&nbsp;534.3</h1>
                            Current money
                        </div>
                    </div>
                </div>
                <div class="card-footer" style="text-align: right">
                    <span style="color: blue">View details</span> 
                </div>
            </div>
        </a>
    </div>
     <div class="col-md-6 col-lg-3">
        <a href="/Game/Job" style="text-decoration: none; color: white">
            <div class="card">
                <div class="card-header bg-primary" style="padding-right: 0">      
                    <div class="row" style="width:100%; padding-left:0; padding-right:0">
                        <div class="col-md-4" style="vertical-align:middle  ">
                            <h1 class="display-4"><i class="fas fa-suitcase"></i></h1>
                        </div>
                        <div class="col-md-8" style="text-align:right">
                            <h1>11</h1>
                            Free holidays
                        </div>
                    </div>
                </div>
                <div class="card-footer" style="text-align: right">
                    <span style="color: blue">View details</span> 
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-lg-3">
        <a href="/Game/Family" style="text-decoration: none; color: white">
            <div class="card">
                <div class="card-header bg-warning" style="padding-right: 0">      
                    <div class="row" style="width:100%">
                        <div class="col-md-4">
                            <h1 class="display-4"><i class="fas fa-shopping-cart"></i></h1>
                        </div>
                        <div class="col-md-8" style="text-align:right; padding-left:0; padding-right:0">
                            <h1>€&nbsp;39</h1>
                            Household expenditure
                        </div>
                    </div>
                </div>
                <div class="card-footer" style="text-align: right">
                    <span style="color: blue">View details</span> 
                </div>
            </div>
        </a>
    </div>
</div>
<!-- Statistics part -->
<div class="row">
    <div class="col-lg-9 col-md-12 order-sm-2 order-lg-1">
        <div class="card">
            <div class="card-header">
                Statistics
            </div>
            <div class="card-content">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators carousel-indicators-numbers">
                        <li data-target="#carouselExampleControls" data-slide-to="0" class="active">1</li>
                        <li data-target="#carouselExampleControls" data-slide-to="1">2</li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div id="mmyDiv"></div>
                        </div>
                        <div class="carousel-item">
                            <div id="myDiv"></div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-12 order-sm-1 order-lg-2">
        <div class="row">
            <div class="col-lg-12 col-md-6">
                <a href="/Game/Banking" style="text-decoration: none; color: white">
                    <div class="card">
                        <div class="card-header" style="padding-right: 0; background-color:#d104d8">      
                            <div class="row" style="width:100%">
                                <div class="col-md-4">
                                    <h1 class="display-4"><i class="far fa-handshake"></i></h1>
                                </div>
                                <div class="col-md-8" style="text-align:right; padding-left:0; padding-right:0">
                                    <h1>€&nbsp;1530</h1>
                                    Actual debt
                                </div>
                            </div>
                        </div>
                        <div class="card-footer" style="text-align: right">
                            <span style="color: blue">View details</span> 
                        </div>
                    </div>
                </a>
            </div>  
            <div class="col-lg-12 col-md-6">
                <a href="/Game/Family" style="text-decoration: none; color: white">
                    <div class="card">
                        <div class="card-header bg-info" style="padding-right: 0">      
                            <div class="row" style="width:100%">
                                <div class="col-md-4">
                                    <h1 class="display-4"><i class="fas fa-shopping-cart"></i></h1>
                                </div>
                                <div class="col-md-8" style="text-align:right; padding-left:0; padding-right:0">
                                    <h1>€&nbsp;39</h1>
                                    Household expenditure
                                </div>
                            </div>
                        </div>
                        <div class="card-footer" style="text-align: right">
                            <span style="color: blue">View details</span> 
                        </div>
                    </div>
                </a>
            </div>              
        </div>        
    </div>
    
</div>
<!-- Tables -->
<div class="row">
    <div class="col-lg-6 col-md-12">
         <div class="card" id="EventsCard">
            <a href="/Game/Family">
                <div class="card-header">
                    Last life events
                </div>
            </a>
            <div class="card-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Result
                            </th>
                            <th>
                                Insured
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Thunderstorm
                            </td>           
                            <td>
                                Weather
                            </td>      
                            <td>
                                Your car was demged
                            </td>
                            <td>
                                Yes
                            </td>
                        </tr>   
                        <tr>
                            <td>
                                Head injury
                            </td>           
                            <td>
                                Health
                            </td>      
                            <td>
                                Happiness -32
                            </td>
                            <td>
                                No
                            </td>
                        </tr>   
                        <tr>
                            <td>
                                Lottery won
                            </td>           
                            <td>
                                Others
                            </td>      
                            <td>
                                Happiness +100, Money + € 250
                            </td>
                            <td>
                                No
                            </td>
                        </tr>    
                        <tr>
                            <td>
                                Your pet died
                            </td>           
                            <td>
                                Others
                            </td>      
                            <td>
                                Happiness -130
                            </td>
                            <td>
                                No
                            </td>
                        </tr> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <div class="col-lg-6 col-md-12">
         <div class="card" id="EventsCard">
            <a href="/Game/Family">
                <div class="card-header">
                    TODO- Some another table
                </div>
            </a>
            <div class="card-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Result
                            </th>
                            <th>
                                Insured
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Thunderstorm
                            </td>           
                            <td>
                                Weather
                            </td>      
                            <td>
                                Your car was demged
                            </td>
                            <td>
                                Yes
                            </td>
                        </tr>   
                        <tr>
                            <td>
                                Head injury
                            </td>           
                            <td>
                                Health
                            </td>      
                            <td>
                                Happiness -32
                            </td>
                            <td>
                                No
                            </td>
                        </tr>   
                        <tr>
                            <td>
                                Lottery won
                            </td>           
                            <td>
                                Others
                            </td>      
                            <td>
                                Happiness +100, Money + € 250
                            </td>
                            <td>
                                No
                            </td>
                        </tr>    
                        <tr>
                            <td>
                                Your pet died
                            </td>           
                            <td>
                                Others
                            </td>      
                            <td>
                                Happiness -130
                            </td>
                            <td>
                                No
                            </td>
                        </tr> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
