@section NavBarTop{
    @Html.Partial("/Views/Game/_NavBarTop.cshtml")
}


@section Scripts{
    <script src="~/js/Game/Job.js"></script>
}

@section Styles
{
    <style>
        label{
            font-size: 17pt
        }
        .card-content{
            padding: 15px
        }
    </style>
}

<h1><i class="fas fa-industry"></i> Job</h1>
<hr/>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Salary information
            </div>
            <div class="card-content">
                <label>Salary:</label> <br/>
                <p style="font-size: 22pt; text-align: center">1 800 € <small>(10 €/h)</small></p><br/>
                <label> Days to salary: 6</label> <br/>
            </div>
        </div>
        <small>todo: possibility of another currency</small>
    </div>
    <div class="col-md-7">
        <div class="card">
            <div class="card-header">
                Position information
            </div>
            <div class="card-content">
                <label>Position: Team leader</label> <br/>
                <label>Promotion possibility: Department manager (13 %)</label><br/>
                <label>Job description:</label><br/><p> You are working on similar poject as you have worked before as a normal official. You are also a leader and supervisor of small group of peaople and you are responsible for their job.</p>
                <br/>
                <button type="button" class="btn btn-primary" style="float:right" data-toggle="modal" data-target="#promotionModal">
                    Ask for Promotion
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Holiday
            </div>
            <div class="card-content">
                <label>Free days:</label> <br/>
                <p style="font-size: 22pt; text-align: center">11</p><br/>
                <label> Used days: 9</label> <br/>
                <button type="button" class="btn btn-primary" style="float:right" data-toggle="modal" data-target="#holidayModal">
                    Ask for Holiday
                </button>
            </div>
        </div>
    </div>
</div>

<!-- modals -->
@Html.Partial("/Views/Game/Modals/_PromotionModal.cshtml")
@Html.Partial("/Views/Game/Modals/_HolidayModal.cshtml")
