 <div class="sidebar bg-light" >
    <ul class="list-unstyled">
        <li><a style="color: #1178ff" href="/Game/Life"><i class="fas fa-chart-line"></i> Overview</a></li>
        <li><a style="color: #1178ff" href="/Game/HappinessHistory"><i class="far fa-smile"></i> Happiness History</a></li>
        <li><a style="color: #1178ff" href="/Game/EventsHistory"><i class="fas fa-bolt"></i> Events History</a></li>
    </ul>
</div>