@section NavBarTop{
    @Html.Partial("/Views/Game/_NavBarTop.cshtml")
}

@section NavBarLeft{
    @Html.Partial("/Views/Game/LifeAndProperty/_NavBarLeft.cshtml")
}

@section Scripts{
    <script src="~/js/Game/Life.js"></script>
}

@section Styles{
    <style>
        .card-content{
            padding: 20px
        }
        .card
        {
            margin-top: 25px
        }
    </style>
}

<h1><i class="fas fa-bolt"></i> Events History</h1>
<hr/>

<div class="row">
    <div class="col-lg-12">
        <div class="card" id="EventsCard">
            <div class="card-header">
                Last life events
            </div>
            <div class="card-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Result
                            </th>
                            <th>
                                Insured
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Thunderstorm
                            </td>           
                            <td>
                                Weather
                            </td>      
                            <td>
                                Your car was demged
                            </td>
                            <td>
                                Yes
                            </td>
                        </tr>   
                        <tr>
                            <td>
                                Head injury
                            </td>           
                            <td>
                                Health
                            </td>      
                            <td>
                                Happiness -32
                            </td>
                            <td>
                                No
                            </td>
                        </tr>   
                        <tr>
                            <td>
                                Lottery won
                            </td>           
                            <td>
                                Others
                            </td>      
                            <td>
                                Happiness +100, Money + € 250
                            </td>
                            <td>
                                No
                            </td>
                        </tr>    
                        <tr>
                            <td>
                                Your pet died
                            </td>           
                            <td>
                                Others
                            </td>      
                            <td>
                                Happiness -130
                            </td>
                            <td>
                                No
                            </td>
                        </tr> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
