@section NavBarTop{
    @Html.Partial("/Views/Game/_NavBarTop.cshtml")
}

@section NavBarLeft{
    @Html.Partial("/Views/Game/LifeAndProperty/_NavBarLeft.cshtml")
}

@section Scripts{
    <script src="~/lib/datepicker/js/datepicker.min.js"></script>
    <script src="~/js/Game/Life/HappinessHistory.js"></script>
}

@section Styles{
    <link rel="stylesheet" href="~/lib/datepicker/css/datepicker.css" />
    <style>
            </style>
}

<h2><i class="far fa-smile"></i> Happiness History</h2>
<hr/>

<div class="row">
        <div class="col-md-12">
        <div class="card">
            <div class="card-header">                
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-inline">
                            <label style="margin-right: 10px">From </label>
                            <input type="text" class="form-control" style="width: 150px" onkeydown="return false" value="@(DateTime.Today.ToString("dd-MM-yyyy"))" id="dateFrom" data-toggle="datetimepicker" data-target="#dateFrom"/>
                            <label style="margin-right: 10px; margin-left: 10px"> To </label>
                            <input type="text" class="form-control" style="width: 150px" onkeydown="return false" value="@(DateTime.Today.ToString("dd-MM-yyyy"))" id="dateTo" data-toggle="datetimepicker" data-target="#dateTo"/>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" placeholder="search" type="text" style="float: right; width: 250px" />
                    </div>
                </div> 
            </div>
            <div class="card-content">
                <table class="table table-hover" id="historyTable">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Time
                            </th>                            
                            <th>
                                Reason
                            </th>                            
                            <th>
                                Change
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr>  
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr> <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                Car
                            </td>                            
                            <td style="color:red">
                                -30
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23.8.2017
                            </td>
                            <td>
                                22:56
                            </td>                            
                            <td>
                                 Event - loterry won <a href="/Game/EventsHistory"><i class="fas fa-info-circle" style="color: blue"></i></a>
                            </td>
                            <td style="color:green">
                                + 100
                            </td>
                        </tr>                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>