@section NavBarTop{
    @Html.Partial("/Views/Game/_NavBarTop.cshtml")
}

@section NavBarLeft{
    @Html.Partial("/Views/Game/LifeAndProperty/_NavBarLeft.cshtml")
}

@section Scripts{
    <script src="~/js/Game/Life/Life.js"></script>
}

@section Styles{
    <style>
        .card-content{
            padding: 20px
        }
        .card
        {
            margin-top: 25px
        }
    </style>
}

<h1><i class="fas fa-chart-line"></i> Life & property</h1>
<hr/>

<div class="row">
    <div class="col-lg-5">
        <div class="card" id="HappinessCard">
            <div class="card-header">
                Happiness
            </div>
            <div class="card-content">
                <p>Actual happiness</p>
                <p style="font-size: 32pt; text-align:center">231</p>
                 <table class="table">
                    <tr>
                        <td>
                            28.3.2018
                        </td>
                        <td style="color: green">
                            +50
                        </td>
                    </tr>
                    <tr>
                        <td>
                            28.3.2018
                        </td>
                        <td style="color: red">
                            -37
                        </td>
                    </tr>
                    <tr>
                        <td>
                            25.3.2018
                        </td>
                        <td style="color: green">
                            +23
                        </td>
                    </tr>
                </table>
                <a style="float:right" href="/Game/HappinessHistory">Whole history</a>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="card" id="EventsCard">
            <div class="card-header">
                Last life events
            </div>
            <div class="card-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Result
                            </th>
                            <th>
                                Insured
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Thunderstorm
                            </td>           
                            <td>
                                Weather
                            </td>      
                            <td>
                                Your car was demged
                            </td>
                            <td>
                                Yes
                            </td>
                        </tr>   
                        <tr>
                            <td>
                                Head injury
                            </td>           
                            <td>
                                Health
                            </td>      
                            <td>
                                Happiness -32
                            </td>
                            <td>
                                No
                            </td>
                        </tr>   
                        <tr>
                            <td>
                                Lottery won
                            </td>           
                            <td>
                                Others
                            </td>      
                            <td>
                                Happiness +100, Money + € 250
                            </td>
                            <td>
                                No
                            </td>
                        </tr>    
                        <tr>
                            <td>
                                Your pet died
                            </td>           
                            <td>
                                Others
                            </td>      
                            <td>
                                Happiness -130
                            </td>
                            <td>
                                No
                            </td>
                        </tr> 
                    </tbody>
                </table>
                <a style="float:right" href="/Game/EventsHistory">Whole history</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Your cars
            </div>
            <div class="card-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Class
                            </th>
                            <th>
                                Age
                            </th>
                            <th>
                                State
                            </th>
                            <th>
                                Traveled distanced
                            </th>
                            <th>
                                Operating costs
                            </th>
                            <th>
                                Happiness increase
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                3
                            </td>
                            <td>
                                6 years
                            </td>
                            <td>
                                Ok
                            </td>
                            <td>
                                1 000 000 km
                            </td>
                            <td>
                                € 300/month
                            </td>
                            <td>
                                -2/month
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#SellCarModal">Sell</button>
                                    <button type="button" class="btn btn-warning">Repair</button>
                                    <button type="button" class="btn btn-success">Buy new</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                4
                            </td>
                            <td>
                                2 years
                            </td>
                            <td>
                                Great
                            </td>
                            <td>
                                800 km
                            </td>
                            <td>
                                € 600/month
                            </td>
                            <td>
                                21/month
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#SellCarModal">Sell</button>
                                    <button type="button" class="btn btn-warning">Repair</button>
                                    <button type="button" class="btn btn-success">Buy new</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-2">
                        Your realties
                    </div>
                    <div class="col-md-8">
                        <select class="form-control">
                            <option selected>Opt 1</option>
                            <option>Opt 2</option>
                            <option>Become homeless</option>
                        </select>
                    </div>
                    <div class="col-md-2" style="text-align: right">
                        <button class="btn btn-primary">Realty market</button>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-6">
                        <h5>State</h5>
                        <br>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-sm btn-primary">Reconstruct (€ 40)</button>
                            </div>
                        </div>
                        <br>
                        <h5>Value</h5>
                        <p style="font-size: 32pt; text-align:center">€ 200 000</p>
                    </div>                
                    <div class="col-md-6">
                        <h5>Locality: Village</h2>              
                        <br>
                        <h5>Area: 20 m&sup2;</h2>
                        <br>
                        <h5>Furniture value: € 5000</h5>
                        <br>
                        <button class="btn btn-primary" style="float: right">Move in</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
@Html.Partial("/Views/Game/Modals/_SellCarModal.cshtml")
@Html.Partial("/Views/Game/Modals/_RealtyMarketModal.cshtml")