<div class="sidebar bg-light" >
    <ul class="list-unstyled">
        <li><a style="color: #1178ff" href="/Game/Banking"><i class="far fa-credit-card"></i> Internet banking</a></li>
        <li><a style="color: #1178ff" href="/Game/TransactionHistory"><i class="fas fa-history"></i> Transaction History</a></li>
        <li><a style="color: #1178ff" href="/Game/Investitions"><i class="fas fa-piggy-bank"></i> Saving and investitions</a></li>
        <li><a style="color: #1178ff" href="/Game/Insurance"><i class="fab fa-accessible-icon"></i> Insurance</a></li>
    </ul>
</div>