@model FamilyBudgetSimulator.Models.BankingModel

@section NavBarTop{
    @Html.Partial("/Views/Game/_NavBarTop.cshtml")
}

@section NavBarLeft{
    @Html.Partial("/Views/Game/FinanceServices/_NavBarLeft.cshtml")
}

@section Scripts{
    <script src="~/js/Game/FinanceServices/Banking.js"></script>
    <script src="~/js/Game/FinanceServices/FinanceServicesCommon.js"></script>
}

@section Styles{
    <style>
        .card-content{
            padding:15px
        }
        .card
        {
            margin-top: 23px
        }
    </style>
}

<h2><i class="far fa-credit-card"></i> Internet banking</h2>
<hr/>

<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header" id="Account" account="@Model.AccountNumber">
                Account: @Model.AccountNumber
            </div>
            <div class="card-content">
                <label>Actual usable balance:</label>
                <p style="font-size: 28pt; text-align: center" id="Balance" balance="@Model.Balance">€ @Math.Round(Model.Balance,2)</p>
                <table class="table" id="transactionHistory">
                    @foreach(var Item in Model.NearestHistory){
                        <tr>
                            @if(Item.Item1 > DateTime.MinValue){
                                <td>
                                    @Item.Item1.ToString("dd-MM-yyyy")
                                </td>
                                <td style="color: @(Item.Item2 > 0 ? "green" : Item.Item2 < 0 ? "red" : "black")">
                                    € @Item.Item2
                                </td>
                            }
                            else{
                                <td colspan="2">No  records</td>
                            }
                        </tr>
                    }                  
                </table>
                <a style="float:right" href="/Game/TransactionHistory">Transaction history</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Payment order
            </div>
            <div class="card-content">
                <table>
                    <tr>
                        <td>Counterpart number</td>
                        <td style="padding:10px">
                            <input type="text" class="form-control" id="Counterpart" placeholder="Counterpart number"/>
                            <span id="CounterpartError" class="invalid-feedback"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td style="padding:10px">
                            <input type="number" class="form-control" id="Ammount" placeholder="Amount"/>
                            <span id="AmmountError" class="invalid-feedback"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Variable symbol</td>
                        <td style="padding:10px">
                            <input type="number" class="form-control" id="VariableSymbol" placeholder="Variable symbol"/>
                            <span id="VariableSymbolError" class="invalid-feedback"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Message for reciever</td>
                        <td style="padding:10px">
                            <input type="text" id="Message" class="form-control" placeholder="Message for reciever"/>
                        </td>
                    </tr>
                </table>            
                <br/>
                <input type="button" id="btnSendPayment" class="btn btn-primary" style="float: right" value="Send payment order"/>
            </div>
        </div>
    </div>    
</div>
<div class="row">
    <div class="col-md-11">
        <div class="card">
            <div class="card-header">
                My loans
            </div>
            <div class="card-content">
                <label>You have no loans</label><br/>
                <button type="button" class="btn btn-primary" style="float:right" data-toggle="modal" data-target="#LoanModal">
                    Ask for Loan
                </button>           
            </div>
        </div>
    </div>
</div>

<!-- modals -->
@Html.Partial("/Views/Game/Modals/_LoanModal.cshtml")