@model DatabaseModels.Account

@section NavBarTop{
    @Html.Partial("/Views/Game/_NavBarTop.cshtml")
}

@section NavBarLeft{
    @Html.Partial("/Views/Game/FinanceServices/_NavBarLeft.cshtml")
}

@section Scripts{
    <script src="~/lib/slider/js/slider.js"></script>
    <script src="~/js/Game/FinanceServices/FinanceServicesCommon.js"></script>
    <script src="~/js/Game/FinanceServices/Insurance.js"></script>
}

@section Styles{
    <link rel="stylesheet" href="~/lib/slider/css/slider.css">
    <style>
       .card-content{
           padding: 15px
       }
   </style>
}

<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-header">
                Home and property
            </div>
            <div class="card-content">
                You don't have this insurance. <br><br>
                <button class="btn btn-primary" style="float: right">Arrange insurance</button>
            </div>
        </div>
    </div>
     <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-header">
                Car Insurance
            </div>
            <div class="card-content">
                <label>Monthly fee:</label>
                <p style="font-size: 28pt; text-align: center">€ 120</p>
                <label>Insured shared: 80 %</label><br>
                <small>Next payment: 01-07-2018 11:00</small>
                <hr>
                <label><b>Insured against:</b></label>
                <ul>
                    <li><label>Natural disaster</label></li>
                    <li><label>Stealing</label></li>
                    <li><label>Crash</label></li>
                </ul>
                <div class="btn-group btn-group-sm" style="float: right" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary">Withdraw</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#InsuranceModal">Update</button>
                </div>
            </div>
        </div>
    </div>
     <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-header">
                Life Insurance
            </div>
            <div class="card-content">
                You don't have this insurance. <br><br>
                <button class="btn btn-primary" style="float: right" data-toggle="modal" data-target="#LifeInsuranceModal">Arrange insurance</button>
            </div>
        </div>
    </div>
     <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-header">
                Invalidity
            </div>
            <div class="card-content">
                @if(Model.InvalidityInsurance == null)
                {
                    <span>You don't have this insurance.</span> <br><br>
                    <button class="btn btn-primary" style="float: right" data-toggle="modal" data-target="#InvalidityInsuranceModal">Arrange insurance</button>
                }
                else
                {
                    <label>Monthly fee:</label>
                    <p style="font-size: 28pt; text-align: center">€ @Math.Round(Model.InvalidityInsurance.MonthlyFee, 2)</p>
                    <label>Sum insured: € @Model.InvalidityInsurance.InsuredMoney</label><br>
                    if((int)Model.InvalidityInsurance.Type == 1){
                        <small>You are insured against all injuries</small>
                    }
                    if((int)Model.InvalidityInsurance.Type == 2){
                        <small>You are insured against the most serious and moderate injuries</small>
                    }
                    if((int)Model.InvalidityInsurance.Type == 3){
                        <small>You are insured only against the most serious injuries</small>
                    }
                    <br>
                    <button class="btn btn-sm btn-secondary" style="float: right">Withdraw</button>
                }
            </div>
        </div>
    </div>
</div>
@Html.Partial("/Views/Game/Modals/_InsuranceModal.cshtml")
@Html.Partial("/Views/Game/Modals/_LifeInsuranceModal.cshtml")
@Html.Partial("/Views/Game/Modals/_InvalidityInsuranceModal.cshtml")