@model FamilyBudgetSimulator.Models.SavingsModel

@section NavBarTop{
    @Html.Partial("/Views/Game/_NavBarTop.cshtml")
}
    
@section NavBarLeft{
    @Html.Partial("/Views/Game/FinanceServices/_NavBarLeft.cshtml")
}

@section Scripts{
    <script src="~/lib/plotly/plotly.min.js"></script>
    <script src="~/js/Game/FinanceServices/FinanceServicesCommon.js"></script>
    <script src="~/js/Game/FinanceServices/Investitions.js"></script>
}

@section Styles{
    <style>
        .card-content
        {
            padding: 15px;
        }
        .row{
            margin-bottom: 10px;
        }
    </style>
}

<h2><i class="fas fa-piggy-bank"></i> Investitions</h2>
<hr/>

<div class="row">
    <div class="col-md-6 col-lg-4">
        <a href="#" style="text-decoration: none; color: black" data-toggle="modal" data-target="#SharesInvestModal">
            <div class="card border-danger">
                <div class="card-header bg-danger">
                    Invest into sheres
                </div>
                <div class="card-content">
                    <p>
                        This kind of investition is...Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Ut tempus purus at lorem. Donec vitae arcu.
                    </p>                
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-lg-4">
        <a href="#" style="text-decoration: none; color: black" data-toggle="modal" data-target="#FondsInvestModal">
            <div class="card border-warning">
                <div class="card-header  bg-warning">
                    Invest into specialized fonds
                </div>
                <div class="card-content">
                    <p>
                        This kind of investition is...Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Ut tempus purus at lorem. Donec vitae arcu.
                    </p>                
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-lg-4">
        <a href="#" style="text-decoration: none; color: black" data-toggle="modal" data-target="#SavingAccountModal">
            <div class="card border-success">
                <div class="card-header bg-success">
                    Create savings account
                </div>
                <div class="card-content">
                    <p>
                        This kind of investition is...Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Ut tempus purus at lorem. Donec vitae arcu.
                    </p>                
                </div>
            </div>
        </a>
    </div>
</div>
<br>
<h5>Your fonds investitions</h5>
<br>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Fond type
                    </th>
                    <th>
                        Invested money
                    </th>
                    <th>
                        Possible interest
                    </th>
                    <th>
                        Actual money
                    </th>
                    <th>
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                @if(Model.Fonds.Count == 0)
                {
                    <tr>
                        <td colspan="6" style="text-align: center">
                            <b>You have no investition fonds</b>
                        </td>
                    </tr>
                }
                @foreach(var fond in Model.Fonds)     
                {         
                    <tr>
                        <td>
                            @fond.FondType.Description
                        </td>
                        <td>
                            € @fond.InvestedMoney
                        </td>
                        <td>
                            @(100 * fond.FondType.MinimalInterest) -> @(100 * fond.FondType.MaximalInterest) %
                        </td>
                        <td>
                            € @Math.Round(fond.ActualMoney, 2)
                        </td>
                        <td>
                            <button class="btn btn-sm btn-primary btnInvestitionFondCollect" creationDate="@fond.CreationTime.ToString("yyyyMMddHHmmssfffffff")">Collect</button>
                        </td>
                    </tr>   
                }
            </tbody>
        </table>
    </div>
</div>
<br>
<h5>Your savings accounts</h5>
<br>
<div class="row">
    @foreach(var Item in Model.SavingsAccounts)
    {    
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-header">
                    @Item.AccountType.Description
                </div>
                <div class="card-content">
                    <label>Actual money:</label>
                    <p style="font-size: 28pt; text-align: center">€ @Math.Round(Item.MoneyWithInterest, 2)</p>
                    <hr>
                    <label>Monthly fee: € @Item.MonthlyFee</label><br>
                    <label>Reaming fees: @Item.ReamingFees</label><br>
                    <label>Due date: @Item.DueDate.ToString("dd-MM-yyyy")</label><br>
                    <label>Interest: @Math.Round(Item.Interest, 2) %</label><br>
                    <button class="btn btn-danger btnWithdrawSavingsAccount" creationTime="@Item.CreationTime.ToString("yyyyMMddHHmmssfffffff")" withdrawalFee="@Item.AccountType.WithdrawalFee" style="float: right">Withdraw</button>
                </div>
            </div>
        </div>
    }
</div>

@Html.Partial("/Views/Game/Modals/_SharesInvestModal.cshtml")
@Html.Partial("/Views/Game/Modals/_FondsInvestModal.cshtml")
@Html.Partial("/Views/Game/Modals/_SavingAccountModal.cshtml")
@Html.Partial("/Views/Game/Modals/_WithdrawSavingsModal.cshtml")