@model System.Collections.Generic.List<DatabaseModels.TransactionHistory>

@section NavBarTop{
    @Html.Partial("/Views/Game/_NavBarTop.cshtml")
}

@section NavBarLeft{
    @Html.Partial("/Views/Game/FinanceServices/_NavBarLeft.cshtml")
}

@section Scripts{
    <script src="~/lib/plotly/plotly.min.js"></script>
    <script src="~/lib/datepicker/js/datepicker.min.js"></script>
    <script src="~/js/Game/FinanceServices/TransactionHistory.js"></script>
    <script src="~/js/Game/FinanceServices/FinanceServicesCommon.js"></script>
}

@section Styles{
    <link rel="stylesheet" href="~/lib/datepicker/css/datepicker.css" />
}

<h2><i class="fas fa-history"></i> Transaction History</h2>
<hr/>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">                
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-inline">
                            <label style="margin-right: 10px">From </label>
                            <input type="text" class="form-control" style="width: 150px" onkeydown="return false" value="@ViewBag.DateFrom" id="dateFrom" data-toggle="datetimepicker" data-target="#dateFrom"/>
                            <label style="margin-right: 10px; margin-left: 10px"> To </label>
                            <input type="text" class="form-control" style="width: 150px" onkeydown="return false" value="@ViewBag.DateTo" id="dateTo" data-toggle="datetimepicker" data-target="#dateTo"/>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" placeholder="search" type="text" style="float: right; width: 250px" />
                    </div>
                </div> 
                <ul class="nav" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="presentation-tab" data-toggle="tab" href="#presentation" role="tab" aria-controls="home" aria-selected="true">Data presentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="source-tab" data-toggle="tab" href="#source" role="tab" aria-controls="profile" aria-selected="false">Data source</a>
                    </li>
                </ul>   
            </div>
            <div class="card-content">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="presentation" role="tabpanel" aria-labelledby="presentation-tab">
                        <div id="presentation"></div>
                    </div>
                    <div class="tab-pane fade" id="source" role="tabpanel" aria-labelledby="seource-tab">
                        <table class="table table-hover" id="historyTable">
                            <thead>
                                <tr>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Time
                                    </th>
                                    <th>
                                        Counterfact number
                                    </th>
                                    <th>
                                        Message
                                    </th>
                                    <th>
                                        Variable symbol
                                    </th>
                                    <th>
                                        Ammount
                                    </th>
                                </tr>
                            </thead>
                            <tbody firstDate="@(ViewBag.DateFrom + "-00-00-00")" lastDate="@(ViewBag.DateTo + "-00-00-00")">
                                @foreach(var item in Model)
                                {
                                    <tr balance="@item.NewBalance" oldbalance="@item.OldBalance" date="@item.Date.ToString("dd-MM-yyyy-HH-mm-ss")">
                                        <td>
                                            @item.Date.ToString("dd-MM-yyyy")
                                        </td>
                                        <td>
                                            @item.Date.ToString("HH:mm")
                                        </td>
                                        <td>
                                            @item.CounterfactNumber
                                        </td>
                                        <td>
                                            @item.Message
                                        </td>
                                        <td>
                                            @item.VariableSymbol
                                        </td>
                                        <td style="@(item.Change > 0 ? "color:green" : item.Change < 0 ? "color:red" : "")">
                                            € @item.Change
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>                
    </div>
</div>